@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #0f1626;
  --background-color: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #f5f5f5;
    --background-color: #0f1626;
  }
}

body {
  color: rgb(var(--foreground-color));
  background: rgb(var(--background-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
